*.apple
*.dmg
*.log
*.o
*.pwg
*.ras
Makefile
RasterView.app/Contents/_CodeSignature
RasterView.app/Contents/MacOS/rasterview
autom4te.cache/
config.log
config.status
rasterview
rasterview.list
testcie
