*.apple
*.dmg
*.log
*.o
*.pwg
*.ras
*.urf
/.vs
/Makefile
/RasterView.app/Contents/_CodeSignature
/RasterView.app/Contents/MacOS/RasterView
/autom4te.cache/
/config.log
/config.status
/configure~
/packages
/rasterview
/rasterview.list
/rasterview-installer.back*
/rasterview-160.png
/rasterview-256.png
/testcie
/testraster
/x64
