[Desktop Entry]
Name=RasterView
Comment=CUPS Raster Viewer
Exec=rasterview %F
Icon=rasterview
Terminal=false
Type=Application
# image/x-cmu-raster is the shared-mime-info MIME for application/vnd.cups-raster
MimeType=image/x-cmu-raster;image/pwg-raster;image/urf;
Categories=Graphics;RasterGraphics;Viewer;2DGraphics;
